pkgbase = openshell
	pkgdesc = The safe, private runtime for autonomous AI agents.
	pkgver = 0.0.97
	pkgrel = 1
	url = https://github.com/NVIDIA/OpenShell
	install = openshell.install
	arch = x86_64
	arch = aarch64
	license = Apache-2.0
	makedepends = cargo
	makedepends = clang
	makedepends = cmake
	makedepends = pandoc
	depends = z3
	depends = sqlite
	optdepends = bash-completion: bash completions
	optdepends = docker: alternative compute driver
	optdepends = podman: default compute driver
	conflicts = openshell-bin
	conflicts = openshell-git
	options = !lto
	source = openshell-0.0.97.tar.gz::https://github.com/NVIDIA/OpenShell/archive/refs/tags/v0.0.97.tar.gz
	b2sums = 2b76688cd1e1072c92f6c79dacc209d20a89e726723cc9d8de338e4397e7d203c6c8121e12a96d49a32f68b195ae376481127b48172cdb94d3174f79ced7c080

pkgname = openshell
