pkgbase = wolvenkit-cli-bin
	pkgdesc = A modding tool for Cyberpunk 2077
	pkgver = 8.19.0
	pkgrel = 2
	url = https://github.com/WolvenKit/WolvenKit
	arch = x86_64
	license = GPL-3.0-or-later
	depends = dotnet-runtime
	provides = wolvenkit-cli
	conflicts = wolvenkit-cli
	source = https://github.com/WolvenKit/WolvenKit/releases/download/8.19.0/WolvenKit.ConsoleLinux-8.19.0.zip
	source = LICENSE::https://raw.githubusercontent.com/WolvenKit/WolvenKit/8.19.0/LICENSE
	sha256sums = 0beeb4df01f7a90fb06dc9174668c0c35013efdfd11d6ceea975feca2eae6f4f
	sha256sums = 589ed823e9a84c56feb95ac58e7cf384626b9cbf4fda2a907bc36e103de1bad2

pkgname = wolvenkit-cli-bin
